/* 
Points To Keep In Mind While You Are Learning Style Properties
-------------------------------------------------------------------
	+	Default Values
	+	Inheritence
	+	Can this be applied to all elements

BAckground related style properties
+++++++++++++++++++++++++++++++++++++++

width, min-width, max-width
height, min-height, max-height 
padding
margin
overflow: visible | hidden | scroll | auto
float : left | right | none
clear: none | left | right | both


box-sizing – content-box | padding-box | border-box

Flexbox
resize - none | both | horizontal | vertical 
opacity 
column-count
column-gap
column-fill – auto | balance
column-rule - <'column-rule-width'> || <'column-rule-style'> || <'column-rule-color'>

*/


.demo-dabba{
	border: solid 10px red;
	margin: 20px;
	background-color: lightgreen;
	padding: 20px;
}

.dabba{
	border: solid 2px green;
	background-color: lightblue;
	margin: 10px;
	padding: 20px;
	max-width: 50%;
	min-height: 70px;
	max-height: 150px;
	overflow: scroll;
}
span.dabba{
	border-color:blue;
	margin: 40px;
}

.box{
	border: dotted 1px black;
	background-color: lightblue;
	width: 150px;
	margin: 10px;
}

div.box{
	float: left;
	height: 50px;
}
span.box{
	float: right;
	height: 75px;
}

.clear-fix{
	background-color: pink;
	clear: both;
}


.demo-blk{
	border: dotted 1px black;
	padding: 15px;
	background-color: lightblue;
	float: left;
}
.demo-inline{
	border: dotted 1px black;
	padding: 15px;
	background-color: lightblue;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	width: 200px;
}
.demo-flt-after{
	border: solid 1px red;
	background-color: pink;
	clear: both;
}

.fl, .fr{
	border: dotted 1px black;
	background-color: lightblue;
	padding: 10px;
}
.fl{float: left;}
.fr{float: right;}

.clearz{clear: both;}

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}

.demo-dabba:after{
	content: "";
	clear: both;
	display: block;
}
.panel{
	border: solid 20px green;
	background-color: lightblue;
	padding: 25px;
	margin: 10px;
	width: 200px;
	float: left;
	min-height: 100px;
}
.panel_content-box{
	-webkit-box-sizing: content-box;
		 -moz-box-sizing: content-box;
					box-sizing: content-box;
}
.panel_border-box{
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}
.panel_padding-box{
	-webkit-box-sizing: padding-box;
		 -moz-box-sizing: padding-box;
					box-sizing: padding-box;
}

.row{
	margin: 10px;
	padding: 10px;
	background-color: lightblue;
	border:solid 5px green;
}
.row:after{
	content: "";
	clear: both;
	display: block;
}
.one-half{
	border: solid 5px yellow;
	background-color: wheat;
	float: left;
	width: 50%;
	padding: 25px;
	min-height: 100px;
}
.one-third{
	border: solid 1px black;
	background-color: wheat;
	float: left;
	width: 33.333%;
	min-height: 100px;
	padding: 20px;
}

._border-box *{
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
					box-sizing: border-box;
}


.square200{
	width: 200px;
	height: 200px;
	border: solid 4px wheat;
	background-color: lightgreen;
	padding:10px;
	margin: 20px auto;
	overflow: scroll	
}
.txt-center{text-align: center;}


.bb_onehalf,
.bb_onethird,
.bb_onefourth,
.bb_onefifth{padding: 10px;}

@media(min-width: 768px){
	.bb_onehalf{
		float: left;
		width: 50%;
	}
	.bb_onethird{
		float: left;
		width: 33.3333%;
	}
	.bb_onefourth{
		float: left;
		width: 25%;
	}
	.bb_onefifth{
		float: left;
		width: 20%;
	}
}/*eom*/
												 .row h1{font-size:  8vw;}
@media(min-width: 640px){.row h1{font-size:  6vw;}}
@media(min-width: 768px){.row h1{font-size: 32px;}}

.bb_panel{
	border: solid 1px #AEFFA9;
	background-color: #EDFFEC
}
.bb_panel h3{
	border-bottom: solid 1px #DDD;
	background-color: #AEFFA9;
	padding: 5px 15px;
	margin-top: 0;
}
.bb_panel p{
	padding: 5px 15px
}

